.CountryDetail {
    width: 90%;
    margin: 0 auto;
}

.back-btn {
    width: 8rem;
    margin: 2rem 0 4rem 0;
}

.detail-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
}

.flag-box {
    height: 25rem;
    width: 40rem;
}

.detail-flag {
    height: 100%;
    width: 100%;
}

.country-data {
    color: #fff;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 40rem;
}

.country-name, .border-countries {
    grid-column: 1 / span 2;
}

.border-countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.error-message {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.error-screen {
    width: 90%;
    margin: 0 auto;
}