@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

html {
    font-size: 14px;
}

body {
    background-color: #202c37;
}

.countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    width: 90%;
    margin: 0 auto;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto;
}

.page-buttons {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}